# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
var/cache/*
var/logs/dev.log
var/logs/prod.log
var/sessions/dev
var/sessions/prod
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.idea/*