<img src="{{ app.request.uriForPath('/images/logo.jpg') }}"/>
<br/><br/>
<div style="margin-left: 25px;">
    <p>Nous avons reçu une demande de changement de mote de passe.</p>
    <p><a href="{{ link_reset }}">Cliquez ici pour le modifier</a></p>
    <br/>
    <p>Medicheck</p>
</div>
