{% extends 'base_secured_layout.html.twig' %}

{% block cms_content %}
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        Menu
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    </div>
</div>
{% endblock %}